 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
}

body{
    font-size: 0.9em;
    /*font-family: 'Titillium Web', sans-serif;*/
    background-color: rgb(0,0,0);
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

a{
    color: #b8b5b5;
    font-weight: bolder;
    text-decoration: none;    
}

.LR a{
    font-size: 0.9em;
}

header{
    width: 100%;
    height: 50px;
    background-color: rgb(27, 25, 25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #6a0994;
    padding: 30px 30px;
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    min-width: 410px;
    min-height: 80px;
}

@media screen and (max-width: 460px){
    header{
        display: flex;
        margin: 10px;  
        font-size: 0.9em;
    }

    header .logo{
        padding-left: 10px;
        justify-content: space-between;
    }
}

.back{
    display: flex;
    text-transform: lowercase;
    line-height: 45px;
}


header i {
    color: #6a0994 ;
}

header .logo{
    display: inline-flex;
    font-size: 50px;
    justify-content: space-between;
    font-family: 'EXEPixelPerfect';   
}

@font-face{
    font-family: 'EXEPixelPerfect' ;
    src: url(EXEPixelPerfect.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500&family=Inter:wght@200;300;400&family=Kanit:ital,wght@0,200;0,300;1,200&family=Montserrat:wght@300;400;500;600;700&display=swap');

.container{
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    height: 30vh;
    background-color:  rgb(27, 26, 26);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    height: 55vh;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #d6d6d6;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #512da8;
    color: #b8b5b5;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
} 

.container button.hidden{
    background-color: transparent;
    border-color: rgb(27, 26, 26);
}

.container form{
    background-color: rgb(27, 26, 26);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.login{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .login{
    transform: translateX(100%);

}

.registro{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .registro{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

/* Segunda metade do Login */

.alternar-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .alternar-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.alternar{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #4a055f, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-out;
}

.container.active .alternar{
    transform: translateX(50%);
}

.alternar-painel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.alternar-esquerda{
    transform: translateX(-200%);
}

.container.active .alternar-esquerda{
    transform: translateX(0);
}

.alternar-direita{
    right: 0;
    transform: translateX(0);
}

.container.active .alternar-direita{
    transform: translateX(200%);
}







/* Area de Login */ /*

.container{
    display: flex;
    margin-top: 70px;
    position: relative;
    border: 1px solid #6a0994;
    background-color: rgb(27, 25, 25);
    width: 35%;
    height: auto;
    left: 32%;
    align-items: center;
}

.login h1{
    padding: 0px 50px 30px 65px;
}

.login{
    display: block;
}

form{
    padding-left: 20px;
    padding-bottom: 30px;
    margin-left: px;
}

input {
    display: block;
    border-radius: 5px;
    height: 35px;
    width: 300px;
    margin: 10px;
    padding: 15px;
    background-color: #b8b5b5;
}

.check{
    display: inline-block;
    width: 10px;
    height: 10px;
    
}

.checkbox {
    font-size: 1.2em;
    margin-left: 15px;
    color: #948d8d;
}

button{
    margin-left: 15px;
    margin-top: 15px ;
    display: block;
    box-shadow: rgb(27, 25, 25);
    width: 120px;
    height: 50px;
    border-radius: 5px;
    background-color: #6a0994;
    color: #fff;

}

.registro {
    position: relative;
    left: 17%;
    top: 20px;
}

.registro h1{
    padding: 25px 0px 30px 0px;
    position: relative;
    left: 20%;
    top: 20px
}

.email{
    width: 200px;
    display: inline-block;
}

label{
    margin-left: 10px;
    font-size: 1.1em;
}

.linha-vertical{
    position: relative;
    right: 25%;
    height: 350px;
    border-left: 2px solid;
    box-sizing: border-box;
    color: #222121;
}

*/